{% extends 'base.html' %}

{% block title %} Edit {% endblock %}

{% block header %}
<h1>Edit Submission Form</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col bg-success-subtle">
            <div class="card mt-3 bg-warning-subtle">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}

                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control") }}

                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control") }}

                        {{ form.phone_number.label }}
                        {{ form.phone_number(class="form-control") }}

                        {{ form.address.label }}
                        {{ form.address(class="form-control") }}

                        {{ form.submit(class="btn btn-warning text-dark-emphasis border border-info-subtle w-100 mt-3", value="Edit Submission") }}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}