{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<h1>P H O N E B O O K</h1>
{% if current_user.is_authenticated %}
        <h5>Welcome back, {{ current_user.username }}.</h5>
    {% else %}
        <h5>Log in or create an account to make entries.</h5>
    {% endif %}
{% endblock %}

{% block content %}
        <div>
{% for entry in entries %}
                <div class="card mt-3">
                    <div class="row g-0">
                        <div class="card-body">
                            <h1>{{ entry.first_name }}</h1>
                            <h1>{{ entry.last_name }}</h1>
                            <h1>{{ entry.phone_number }}</h1>
                            <h1>{{ entry.address }}</h1>
                        </div>    

                             
                    </div>
                </div>
                
            
            {% endfor %}


        </div>
    {% endblock %}