{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<h1 class="text-info-emphasis">P H O N E B O O K</h1>
{% if current_user.is_authenticated %}
        <h5>Welcome back, {{ current_user.username }}.</h5>
    {% else %}
        <h5>Log in or create an account to make entries.</h5>
    {% endif %}
{% endblock %}

{% block content %}
        <div>
{% for entry in entries %}
{% if entry.submitter == current_user %}
<div class="card my-3 bg-warning-subtle border-danger-subtle" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.pravatar.cc/300?{{ nums.pop() }}" class="img-fluid rounded-start" alt="a person">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-success-emphasis">{{ entry.first_name }} {{ entry.last_name }}</h5>
          <p class="card-text">{{ entry.phone_number }}</p>
          <p class="card-text">{{ entry.address }}</p>
          <a href="{{ url_for('edit_entry', entry_id=entry.id) }}" class="btn btn-outline-success">Edit</a>
          <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#deleteEntryModal-{{ entry.id }}">
            Delete
        </button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="deleteEntryModal-{{ entry.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-success-subtle">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger-emphasis" id="exampleModalLabel">Entry will be permanently deleted.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <h5 class="text-warning-emphasis">  Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">I changed my mind</button>
                <a href="{{ url_for('delete_entry', entry_id=entry.id) }}" class="btn btn-danger">Delete! </a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}
{% endblock %}