{% extends 'base.html' %}

{% block title %} Submission {% endblock %}

{% block header %}
<h1>Login</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8 bg-success-subtle">
            <div class="card mt-3 bg-warning-subtle">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}

                        {{ form.username.label }}
                        {{ form.username(class="form-control", placeholder="Enter Username") }}

                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder="Enter Password") }}
                        <div class="text-center">     
                        {{ form.submit(class="btn btn-warning text-success-emphasis border border-info-subtle w-50 mt-3") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}